---
layout: default
title: Trabalhos
---

<section class="grid" id="grid">
  {% for projeto in site.projects %}
    <a href="{{ projeto.url | relative_url }}"
       class="grid-item"
       data-categoria="{{ projeto.categoria }}"
       data-tags="{{ projeto.tags | join: ',' }}">

      <img src="{{ projeto.capa | relative_url }}" alt="{{ projeto.title }}">

      <div class="overlay-info">
        <div class="overlay-header">
          <span>{{ projeto.title }}</span>
          <span>{{ projeto.ano }}</span>
        </div>
        <div class="overlay-corpo">
        <div class="overlay-categoria-col">
          <span class="overlay-pill">{{ projeto.categoria | capitalize }}</span>
        </div>
        <div class="overlay-tags-col">
          {% assign tags_limitadas = projeto.tags | slice: 0, 3 %}
          {% for tag in tags_limitadas %}
            <span class="overlay-pill">{{ tag }}</span>
          {% endfor %}
          <span class="overlay-pill">etc</span>
        </div>
        <div class="overlay-mais-info-col">
          <span>+ informações</span>
        </div>
      </div>
      </div>

    </a>
  {% endfor %}
</section>