<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <div class="header-fixed" id="header-fixed">
    <header class="site-header">
      <a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}</a>
      <nav>
        {% if page.url == "/" %}
          <button id="toggle-sobre" class="nav-link-btn">Sobre</button>
          <button id="fechar-sobre" class="nav-link-btn fechar-sobre-btn">(X)</button>
        {% else %}
          <a href="{{ '/sobre/' | relative_url }}">Sobre</a>
        {% endif %}
      </nav>
    </header>

    {% if page.url == "/" %}
    <div class="sobre-panel" id="sobre-panel">
  <div class="sobre-conteudo-largura">
    {% include sobre-conteudo.html %}
  </div>
</div>

    <div class="filter-bar-categorias">
      <button class="filter-btn active" data-filter="todos">Todos</button>
      {% assign categorias = site.projects | map: "categoria" | uniq %}
      {% for cat in categorias %}
        <button class="filter-btn" data-filter="{{ cat }}">{{ cat | capitalize }}</button>
      {% endfor %}
      <button id="toggle-filtros" class="toggle-filtros-btn">+ filtros</button>
    </div>

    <div class="filter-bar-tags" id="filter-bar-tags">
      {% assign todas_tags = site.projects | map: "tags" | flatten | uniq | sort %}
      {% for tag in todas_tags %}
        <button class="tag-btn" data-tag="{{ tag }}">{{ tag }}</button>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <main id="main-content">
    {{ content }}
  </main>

  
  <div class="footer-fixed" id="footer-fixed">

  <div class="footer-links">
    <a href="https://www.instagram.com/luizalatorre" target="_blank" rel="noopener">Instagram</a>
    <a href="mailto:luizacouceirolatorre@gmail.com">Email</a>
  </div>
</div>

</body>
</html>